*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    background-color: #B88B4A;
    color:#242331;
    font-family: "Rubik",sans-serif;
}
html{
    font-size:10px;
}

.main{
    display:flex;
    align-items: center;
    padding-top:2.5%;
    flex-direction: column;
    gap:3rem;
}

.header{
    font-size:5rem;
    
    font-weight:400;
}

.numbers{
    display: flex;
    align-items: center;
}

.number{
    padding:1rem;
    font-size: 3rem;
    background-color: #A27035;
    margin:2rem 1rem 2rem 1rem; 
    border-radius:12px;
    width: 5rem;
    display: flex;
    justify-content: center;
}

.dice{
    display: flex;
    gap:2rem;
}
.total{
    font-size:3.2rem;
}
.used{
    background-color: #fff;
}
.restartButton, .back{
    background-color: #fff;
    border: 5px solid #fff;
    border-radius: 1.2rem;
}
.restartButton:hover,.back:hover{
    background-color: #eee;
    border: 5px solid #eee;
}
.back{
    position: absolute;
    top:3%;
    left:2%;
}



